<p>L'utilisateur: <%= @user.nom %> , vient de créer un compte à: <%= @user.created_at %></p>
</br>
<%= link_to "Activation du compte", edit_account_verification_url(@user.verification_token, email: @user.email) %>
