<p>Cliquez sur le lien suivant pour changer votre mot de passe:</p>

<%= link_to "Changer de mot de passe", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Le lien va expirer dans deux heures attention !</p>