<% provide(:title, 'Cartes') %>

<section>
  <div class="container">
    <div class="page-header">
      <div class="container center">
        <h3 class="session">Création de cartes</h3>
      </div>
    </div>
    <div class="container center">
      <div id="map" class="map">
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">

</script>
<%= javascript_include_tag 'cartes.js' %>
