<% provide(:title, 'Recherche') %>
<div class="container center">
  <h1>Pages#Recherches</h1>
  <p>On va fouiller en DB</p>

  </br></br>
  <%= link_to "Page d'acceuil", root_path, class: "btn btn-default" %>
</div>

