<footer class="footer">
  <div class="container">
    <div class="row" id='liens_footer'>
      <div class="col-md-12 col-lg-4" >
        <h4 class="ref">Réferences</h4>
      <span>
        <a href='http://getbootstrap.com/'><span>Bootstrap</span></a> <br>
        <a href='http://openclassrooms.com/'><span>Openclassroom</span></a><br>
        <a href='https://www.railstutorial.org/'><span>Ruby On Rails</span></a>
      </span>
      </div>
      <div class="col-md-12 col-lg-4">
        <h4>Contactez nous</h4>
        <span>
         <a href="mailto:guillaume.remi@courrier.uqam.ca"> Remi Guillaume </a> <br>
        <a href="mailto:sawadogo.abdoul_faical@courrier.uqam.ca"> Faïçal Sawadogo</a> <br>
        <a href="mailto:brien-lejeune.stephanie@courrier.uqam.ca">Stéphanie Brien Lejeune</a><br> <br>
        </span>
      </div>

      <div class="col-md-12 col-lg-4">
        <h4>UQÀM</h4>
      <span>
        <a href="http://www.uqam.ca">Site de l'uqam</a><br>
         <a href='http://intra.info.uqam.ca/Members/mili_h/Enseignement/inm5151-hiver2016/accueil'>Site du cours</a><br>
        <a href='http://info.uqam.ca/baccalaur%C3%A9at_en_informatique_et_g%C3%A9nie_logiciel/'>Département d'informatique</a>
      </span>
      </div>
    </div>
    <div class="row copyrigth">
      &copy;RoadQuest 2016
    </div>
  </div>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
